<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                             http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <display-name>Application REST avec RESTEasy et Undertow</display-name>

    <!-- Configuration du servlet RESTEasy avec Undertow -->
    <servlet>
        <servlet-name>resteasy-servlet</servlet-name>
        <servlet-class>org.jboss.resteasy.plugins.server.servlet.HttpServletDispatcher</servlet-class>
        <init-param>
            <param-name>jakarta.ws.rs.Application</param-name>
            <param-value>com.aled.BibliothequeApplication</param-value> <!-- Chemin vers la classe Application -->
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <!-- Mapping du servlet RESTEasy pour capturer toutes les requêtes sous /api/* -->
    <servlet-mapping>
        <servlet-name>resteasy-servlet</servlet-name>
        <url-pattern>/api/*</url-pattern>
    </servlet-mapping>

    <!-- Configuration de la page d'accueil par défaut si nécessaire -->
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

</web-app>
